@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --color-background: #f9fbea;
  --color-on-background: #1a1d13;
  --color-primary: #485422;
  --color-on-primary: #ffffff;
  --color-primary-container: #606c38;
  --color-on-primary-container: #dfedac;
  --color-surface-container-high: #e8ead9;
  --color-surface-container: #edefdf;
  --color-surface-container-low: #f3f5e4;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #e2e4d3;
  --color-surface: #f9fbea;
  --color-on-surface: #1a1d13;
  --color-on-surface-variant: #46483c;
  --color-outline: #77786b;
  --color-outline-variant: #c7c8b9;
  --color-secondary-container: #d7e9bd;
  --color-on-secondary-container: #5a6947;
  --color-tertiary: #654367;
}

body {
  font-family: var(--font-sans);
}